.AndroidStudio3.5/
.Xauthority
.android/
.bash_history
.bash_logout
.bashrc.tino-arch
.cache/
.cargo/
.ccache/
.composer/
.config/Android Open Source Project/
.config/Debauchee/
.config/Electron/
.config/QtProject.conf
.config/Simplenote/
.config/Slack/
.config/SogouPY.users/
.config/Trolltech.conf
.config/Tusk/
.config/autostart/
.config/browsh/
.config/coc/
.config/configstore/
.config/dconf/
.config/fcitx/
.config/gammy
.config/google-chrome/
.config/gtk-2.0/
.config/htop/
.config/libreoffice/
.config/mimeapps.list
.config/pulse/
.config/rclone/
.config/skypeforlinux/
.config/sway/
.config/systemd/
.config/teamviewer/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.dart/
.dartServer/
.docker/
.emulator_console_auth_token
.fehbg
.flutter
.flutter_tool_state
.gitconfig
.java/
.lesshst
.local/
.mozilla/
.node-gyp/
.npm/
.nv/
.pki/
.profile
.sogouinput/
.thunderbird/
.tmux/plugins/
.tmux/resurrect/
.tusk.json
.xinitrc
Android/
Desktop/
Documents/
Downloads/
GPUCache/
Pictures/
Music/
Videos/
bin/
.config/balena-etcher/
.config/composer/
.config/enchant/
.config/gtk-3.0/
.config/libvirt/
.config/nvim/
.config/pavucontrol.ini
.config/pcmanfm-qt/
.config/qt5ct/
.dmrc
.gnupg/
.gtkrc-2.0
.icons/
.screenlayout/
.xsession-errors
.xsession-errors.old
Logisim/
hs_err_pid3647.log
snap/

