# Ignore everything
*

!.pi/
!.pi/extensions/
!.pi/extensions/pi-permission-system/
!.pi/extensions/pi-permission-system/config.json

!flake.nix
!flake.lock

# Allow directories
!nixos/
!home-manager/

# Allow all files within the directories
!nixos/**/*
!home-manager/**/*

!README.md

!flake.nix
!flake.lock
