.gitignore
JetBrains
QtProject.conf
TabNine
bluetuith/bluetuith.conf
dconf
fcitx
fcitx5
github-copilot
gitui
gtk-3.0/settings.ini
gtk-4.0/settings.ini
htop/htoprc
ibus
nvim/
nwg-look/config
okularpartrc
okularrc
omf
pavucontrol.ini
xsettingsd/xsettingsd.conf
cef_user_data
hypr
kitty
pulse
distrobox
environment.d
